doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
    link(rel="stylesheet", href='https://fonts.googleapis.com/icon?family=Material+Icons')
    //link(rel="stylesheet", href='https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.min.css')
    //link(rel='stylesheet', href='/stylesheets/iziToast.min.css')
    link(rel='stylesheet', href='/stylesheets/dashStyle.css')
  body
    block content
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    //script(src='https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js')
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/js/iziModal.min.js')
    //script(src='/javascripts/libraries/iziToast.min.js')
    script(src='/javascripts/dashScripts/dashPlayers.js')
