div.navbar-fixed
  nav
    div.nav-wrapper
      a(href="/" class='brand-logo') Vigridr Gaming League
      a(href="#" data-target="mobile-menu" class="sidenav-trigger")
        i.fas.fa-bars
      ul#nav-mobile.center.hide-on-med-and-down
        li.hvr-overline-reveal
          a(href="/dashboard/games") Games
        li.hvr-overline-reveal
          a(href="/dashboard/teams") Sign-Ups
        li.hvr-overline-reveal
          a(href="/dashboard/players") Players
        li.hvr-overline-reveal
          a(href="/dashboard/watch") Watch
      div#userIn
  include ./login
  include ./register
  include ./toasts
  include ./userDropdown