ul#dropdown.dropdown-content
  li
    a(href='')
        i.fas.fa-user-circle
        |My Account
  li
    a(href='/voting')
        i.fas.fa-vote-yea
        |Game Voting
  li.divider(tabindex='-1')
  li
    a(id="logOut")
        i.fas.fa-sign-out-alt
        |Logout
