div.card.z-depth-3
  div.card-image
    canvas(id="dashGameChart" height="100%")
  div.card-content.white-text.center
    h5 Make sure you vote! How's your pick doing?
    p Go back to the voting screen to vote on your favorites for this season, and make sure they are included in the first season of the Vigridr Gaming League!