extends layout

block content
  include ./components/nav
  div#bodyPlayers.container-fluid.valign-wrapper
    div.row
      div#voteText.col.s10.offset-s1.center-align.white-text
        h2.white-text Stay Tuned!
        h4.white-text The Teams tab will be coming soon!
  include ./components/footer
  include ./components/mobileSideNav
  include ./components/scriptIncludes/prereqScripts
  include ./components/scriptIncludes/loginScripts