extends layout

block content
  include ./components/nav
  div#bodyPlayers.container-fluid
    div#textheader.row
      h2.white-text.center Meet The Players!
      h6.white-text.center Whether teammate or competition, you'll find every Vigridr player below, along with some info and the games they'll be participating in. Be sure to say hi!
    div.row
      div.col.s10.offset-s1.center
        table.highlight
          thead
            tr
              th Avatar
              th Username
              th Company
              th Steam
              th Battlenet
              th Card
          tbody.list
  include ./components/footer.jade
  include ./components/mobileSideNav.jade
  include ./components/scriptIncludes/prereqScripts
  include ./components/scriptIncludes/loginScripts
  script(src="/javascripts/dashScripts/dashPlayers.js")