extends dashLayout

block content
  div.navbar-fixed
    nav
      div.nav-wrapper
        a(href="/dashboard" class='brand-logo hide-on-med-and-down') Vigridr Gaming League
        a(href="/dashboard" class='brand-logo hide-on-large-only')
          span Vigridr 
          span Gaming
        a(href="#" data-target="mobile-menu" class="sidenav-trigger")
          i.material-icons menu
        ul#nav-mobile.center.hide-on-med-and-down
          li.hvr-overline-reveal
            a(href="/dashboard/games") Games
          li.hvr-overline-reveal
            a(href="/dashboard/teams") Teams
          li.hvr-overline-reveal
            a(href="/dashboard/players") Players
          li.hvr-overline-reveal
            a(href="/dashboard/watch") Watch
        a(href="#" class="login right")
          i.fas.fa-user-circle.fa-2x
  div#body.container-fluid
    div.row
      div#title-card.col.s10.offset-s1
        div.card.grey.darken-4.z-depth-3
          div.card-image
            div#dashCaro.carousel.carousel-slider.center
              div.carousel-fixed-item.center
              div(id="firstPanel" class="carousel-item white-text carousel-reveal valign-wrapper" href="#one!")
                h2 First Panel
                p.white-text This is your first panel
              div(id="secondPanel" class="carousel-item white-text carousel-reveal" href="#two!")
                h2 Second Panel
                p.white-text This is your second panel
              div(id="thirdPanel" class="carousel-item white-text carousel-reveal" href="#three!")
                h2 Third Panel
                p.white-text This is your third panel
          div.card-content.white-text.center
            h5 Welcome to Vigridr
            p This is your league; your battlefield. Join in with your coworkers and neighbors for a chance to champion a local charity and compete in your favorite e-sports title. The winning team or player of each game's league will have the full prize pool donated to their charity, as well as bragging rights and recognition within the Vigridr community.
    div.row
      div.col.m10.l5.offset-m1.offset-l1
        div.card.z-depth-3
          div.card-image
            img(src="/images/carouselImages/vigridrTwitch.png" alt="donate" height="400px")
            span.card-title.white-text We're on Twitch!
            a.btn-floating.halfway-fab.waves-effect.waves-light.btn-large.red.darken-2
              i.fas.fa-tv
          div.card-content.white-text.center
            p Head on over to watch your favorite teams and players live! We'll be streaming as much of the season as possible, as well as each and every playoff match. Be sure to catch all the action!
      div.col.m10.l5.offset-m1
        div.card.z-depth-3
          div.card-image
            img(src="/images/carouselImages/donatedark.jpg" alt="donate" height="400px")
            span.card-title Find a Charity
            a.btn-floating.halfway-fab.waves-effect.waves-light.btn-large.red.darken-2
              i.fas.fa-donate
          div.card-content.white-text.center
            p Click on the button to head over to our secure PayPal Donation Pool! Check up on the current total prize pool and see who has donated, and get a peek of who is championing which local charity!
    footer.page-footer
      div.container
        div.row
          div.col.s6
            h5.white-text Vigridr Gaming League
            p.grey-text.text-lighten-4 Welcome to the Vigridr Gaming League! Please have a look around. This site will be used for tracking just about everything that has to do with the league. For answers to questions, or to leave a comment or complaint, please contact:
            h6.grey-text.text-lighten-4
              a(href="mailto:admin@vigridrgaming.com?Subject=Emailing%20About%20The%20League" target="_top") admin@vigridrgaming.com
          div#footer-links.col.s6
            h5.white-text Looking For Something?
            ul
              li
                a(href="https://discord.gg/6WcW68U" class="grey-text text-lighten-3") Check out our Discord!
              li
                a(href="https://paypal.me/pools/c/89KS2XQcnN" class="grey-text text-lighten-3") Secure PayPal Money Pool 
              li
                a(href="/" class="grey-text text-lighten-3") Voting
              li
                a(href="#" class="grey-text text-lighten-3") My Profile
      div.footer-copyright
        div.container
          span © 2018 Vigridr Gaming League
          a(id="footer-discord" href="https://discord.gg/6WcW68U" class="grey-text text-lighten-4 right") 
            i.fab.fa-discord  Vigridr Discord
    ul#mobile-menu.sidenav
      li
        a(href="/dashboard/games") Games
      li
        a(href="/dashboard/teams") Teams
      li
        a(href="/dashboard/players") Players
      li
        a(href="/dashboard/watch") Watch