extends layout

block content
  include ./components/nav
  div#body.container-fluid
    include ./components/frontSlider
    div.row
      div.col.m10.l5.offset-m1.offset-l1
        div.card.z-depth-3
          div.card-image
            img(src="/images/carouselImages/vigridrTwitch.png" alt="donate" height="400px")
            span.card-title.white-text We're on Twitch!
            a.btn-floating.halfway-fab.waves-effect.waves-light.btn-large.red.darken-2
              i.fas.fa-tv
          div.card-content.white-text.center
            p Head on over to watch your favorite teams and players live! We'll be streaming as much of the season as possible, as well as each and every playoff match. Be sure to catch all the action!
      div.col.m10.l5.offset-m1
        div.card.z-depth-3
          div.card-image
            img(src="/images/carouselImages/donatedark.jpg" alt="donate" height="400px")
            span.card-title Find a Charity
            a.btn-floating.halfway-fab.waves-effect.waves-light.btn-large.red.darken-2
              i.fas.fa-donate
          div.card-content.white-text.center
            p Click on the button to head over to our secure PayPal Donation Pool! Check up on the current total prize pool and see who has donated, and get a peek of who is championing which local charity!
    include ./components/footer.jade
    include ./components/mobileSideNav.jade
  include ./components/scriptIncludes/prereqScripts
  include ./components/scriptIncludes/loginScripts
  script(src="/javascripts/dashScripts/dashboard.js")