extends layout

block content
  include ./components/nav
  .preloaderDiv.valign-wrapper
    include ./components/preloader
  div#body.container-fluid
    div#textheader.row
      h2.white-text.center What Games Will Be Played?
      h6.white-text.center The games for this season are currently up for a vote. 3 of 12 possible games will be chosen. See how they are measuring up below!
    div.row
      div.col.s10.offset-s1.center
        div#voteDisp.row     
    div.row
      div.col.s10.offset-s1
        include ./components/voteChart
    include ./components/footer
    include ./components/mobileSideNav
  include ./components/scriptIncludes/prereqScripts
  include ./components/scriptIncludes/loginScripts
  script(src="/javascripts/libraries/chart.min.js")
  script(src="/javascripts/dashScripts/dashGames.js")
