extends dashLayout

block content
  div.navbar-fixed
    nav
      div.nav-wrapper
        a(href="/dashboard" class='brand-logo') Vigridr Gaming League
        a(href="#" data-target="mobile-menu" class="sidenav-trigger")
          i.material-icons menu
        ul#nav-mobile.center.hide-on-med-and-down
          li.hvr-overline-reveal
            a(href="/dashboard/games") Games
          li.hvr-overline-reveal
            a(href="/dashboard/teams") Teams
          li.hvr-overline-reveal
            a(href="/dashboard/players") Players
          li.hvr-overline-reveal
            a(href="/dashboard/watch") Watch
        a(href="#" class="login right")
          i.fas.fa-user-circle.fa-2x
  div#body.container-fluid
  include ./parts/footer.jade
  include ./parts/mobileSideNav.jade