extends ./layouts/dashPlayersLayout

block content
  include ./components/nav
  div#body.container-fluid
    div#textheader.row
      h2.white-text.center Meet The Players!
      h6.white-text.center Whether teammate or competition, you'll find every Vigridr player below, along with some info and the games they'll be participating in. Be sure to say hi!
    div#playerTable.row
      div#playerContain.col.s10.offset-s1.center
        table.highlight
          thead
            tr
              th Avatar
              th Username
              th Company
              th Steam
              th Battlenet
              th Card
          tbody

    include ./components/footer.jade
    include ./components/mobileSideNav.jade