extends layout

block content
  div.container
    div.row
      div.col.s1.left-align.white-text
        a#chart.btn-floating.blue-grey.hoverable
          i.material-icons insert_chart_outlined
    div.row
      div.col.s10.offset-s1.white-text.center-align
        img(src="/images/fenrirLogo.png", alt="Logo", height="200px", width="200px")
        h3= title
        p#headmsg Welcome to the Thorlabs Vigridr Charity Gaming League! Please log in to vote for the games you would be interested in playing or watching this season. A per-team sign up donatation will be collected and victors on Thor's Battlefield will have a chance to have the winnings donated to their choice of charity! Good luck!
        div#btns
          div.row
            div.col.s3.offset-s3
              button#log.btn.waves-effect.waves-light.red.hoverable  Log In
                i.material-icons.left account_circle
            div.col.s3
              button#reg.btn.waves-effect.waves-light.blue.darken-4.hoverable.modal-trigger Register
                i.material-icons.left how_to_reg
    div.divider
    br
    div#voteText.row
    div.row
      div#gameDisp.col.s12.cards-container.center-align