extends layout

block content
  include ./components/nav
  div#bodyPlayers.container-fluid
    div.row
      div.col.s6.offset-s3
        div#proCard.card.z-depth-3
          div#profileContent.card-content.white-text.center
  include ./components/footer
  include ./components/mobileSideNav
  include ./components/scriptIncludes/prereqScripts
  include ./components/scriptIncludes/loginScripts
  script(src="/javascripts/profile.js")