extends layout

block content
  include ./components/nav
  div.container-fluid
    div.row
      div#gameDisp.col.s12.cards-container.center-align
  include ./components/footer
  include ./components/mobileSideNav
  include ./components/scriptIncludes/prereqScripts
  include ./components/scriptIncludes/loginScripts
  script(src="/javascripts/voting.js")


