extends layout

block content
  include ./components/nav
  div#body.container-fluid
    div.row
      div#voteText.col.s10.offset-s1.center-align.white-text
        h2.white-text Vote for the game you want!
        | Welcome to the Thorlabs Vigridr Charity Gaming League! 
        | 
        |Please log in to vote for the games you would be interested in playing or watching this season. After the games are decided, we will determine the donation amount for sign-ups and victors on Thor's Battlefield will have a chance to have the winnings donated to their choice of charity! Good luck!
        | Please note: All games will be played on PC, unless noted otherwise.
    div.row
      div#gameDisp.col.s10.offset-s1.cards-container.center-align
    include ./components/footer
    include ./components/mobileSideNav
    include ./components/scriptIncludes/prereqScripts
    include ./components/scriptIncludes/loginScripts
    script(src="/javascripts/voting.js")


