body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/chalkboard.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding-right: 0% !important;
  padding-left: 0% !important;
}

a {
  color: #00B7FF;
}

.pagecenter{
  top: 20vh;
}

#discord{
  background-color: #7289DA !important;
  margin: auto;
}
